%h2 Rubyboost
.row
  - if @courses.present?
    - @courses.each do |course|
      .col-md-4
        .panel.panel-default
          .panel-heading
            %strong= course.title
          .panel-body
            = image_tag course.picture.thumb, class: 'img-responsive center-block'
          .panel-footer
            = course.user.email
    = paginate @courses, window: 2
  - else
    %h2 No courses yet.
