.content-wrapper
  / Content Header (Page header)
  %section.content-header
    %h1
      Courses list
  / Main content
  %section.content
    / Small boxes (Stat box)
    .row
      .col-lg-12.col-xs-12
        = yield
